<div id="main">
  <mat-card appearance="outlined">
    <mat-card-content id="content">
      <h1>Jimmy's World</h1>
      <p>Yo, Digga! Ich bin Jimmy, der ultimative Macher-Teddy, erschaffen von Meister Emil. Chatte mit mir und check meinen Lebenslauf. Miraculous Ladybug und Chloe sind mein Ding. Feinde wie Lennard und Jakob nerven, aber meine BFFs Leo, Emil, Susanne Daubner und Ute stehen hinter mir. Beste Döner gibt's von Tillmann. Slay, period!</p>
      <div>
        <button (click)="onButtonClick()" mat-flat-button>Chatten</button>
        <button (click)="onButtonClick()" mat-flat-button>Lebenslauf</button>
      </div>
    </mat-card-content>
  </mat-card>

</div>


<div id="scare">
 
</div>

<router-outlet />