<div id="main">
  <mat-card appearance="outlined">
    <mat-card-content id="content">
      <h1>Jimmy's Leben</h1>
      <p>Yo, Digga! Ich bin Jimmy, der Macher-Teddy von Meister Emil. Chatte mit mir und check meinen Lebenslauf. Miraculous Ladybug und Chloe sind mein Ding. Feinde nerven, aber meine BFFs supporten mich. Beste Döner von Tillmann. Slay, period!</p>
      <div>
        <button (click)="onButtonClick()" mat-flat-button>Chatten</button>
        <button (click)="onButtonClick()" mat-flat-button>Lebenslauf</button>
      </div>
    </mat-card-content>
  </mat-card>

</div>


<div id="scare">
 
</div>

<router-outlet />